.mainContent {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.login {
    background-image: url(../../../assets/CUTE.png);
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 450px;
    border-radius: 25%;
    padding: 24px;
    display: flex;
    flex-direction: column;
}